@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;700&display=swap");

/* Default */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: hsl(274, 42%, 30%);
	--secondary-color: hsl(353, 93%, 63%);
	--cta-action-color: hsl(185, 100%, 42%);
	--bg-color-primary: hsl(0, 0%, 98%);
	--bg-color-secondary: hsl(0, 0%, 93%);
}

body {
	background-color: var(--bg-color-secondary);
	font-family: "Lato", sans-serif;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 5fr;
	grid-template-areas:
		"nav header"
		"nav main";
}

h1,
h2,
h3,
h4 {
	font-family: "Montserrat", sans-serif;
}

/* Nav */

.nav {
	background-color: var(--primary-color);
	color: var(--bg-color-primary);
	grid-area: nav;
}

.header {
	background-color: var(--bg-color-primary);
	grid-area: header;
}

.main {
	grid-area: main;
}
