@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Montserrat:wght@400;500;700&display=swap");

/* Default */

*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

:root {
	--primary-color: hsl(274, 42%, 30%);
	--cta-color: hsl(353, 93%, 55%);
	--cta-color-hover: hsl(353, 93%, 50%);
	--cta-color-active: hsl(353, 93%, 63%);
	--bar-card-color: hsl(185, 100%, 42%);
	--bg-color-primary: hsl(0, 0%, 98%);
	--bg-color-secondary: hsl(0, 0%, 90%);
	--favorite: hsl(50, 100%, 50%);
	--primary-font-color: hsl(0, 0%, 15%);
	--secondary-font-color: hsl(0, 0%, 20%);
}

body {
	background-color: var(--bg-color-secondary);
	font-family: "Lato", sans-serif;
	height: 100vh;
	display: grid;
	grid-template-columns: 1fr 4fr;
	grid-template-rows: 1fr 6fr;
	grid-template-areas:
		"nav header"
		"nav main";
}

h1,
h2,
h3,
h4 {
	font-family: "Montserrat", sans-serif;
}

ul li {
	list-style-type: none;
}

.profile-picture {
	border-radius: 50%;
	width: 3rem;
}

/* Nav */

.nav {
	background-color: var(--primary-color);
	color: var(--bg-color-primary);
	grid-area: nav;
	display: grid;
	grid-template-rows: 100px 1fr;
}

.logo {
	display: flex;
	align-items: center;
	margin-left: 1rem;
	margin-top: 0;
	margin-bottom: 0;
	font-size: 1.7rem;
}

.main-links,
.additional-links {
	margin-left: 1rem;
}

.nav-links {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
}

.nav-link {
	display: flex;
	align-items: center;
	margin: 1rem 0 1rem 1.5rem;
	font-weight: bold;
}

.nav .nav-icon svg {
	width: 2rem;
	margin-right: 0.7rem;
}

.nav .logo svg {
	width: 3rem;
	height: auto;
}

/* Nav Pseudo Classes */

.nav svg:hover,
.nav .logo:hover,
.nav-link:hover {
	cursor: pointer;
	color: var(--bg-color-secondary);
}

/* Header */

.header {
	background-color: var(--bg-color-primary);
	grid-area: header;
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-rows: 1fr 1fr;
	grid-template-areas:
		"top-header top-header"
		"bottom-header bottom-header";
}

.top-header {
	grid-area: top-header;
	margin: 1rem 2rem 0;
}

.top-header > ul {
	display: grid;
	grid-template-columns: 3fr 1fr;
}

.top-header-left {
	display: flex;
	align-items: center;
}

.top-header-left li {
	flex: 1;
	display: flex;
	align-items: center;
}

.top-header-left #search {
	flex: 0 1 60%;
	margin-left: 1rem;
	outline: none;
	border-radius: 9999999px;
	border: none;
	padding: 4px;
	padding-left: 1rem;
	background-color: var(--bg-color-secondary);
}

.top-header-left label {
	position: relative;
	top: 2px;
	width: 1.2rem;
}

.top-header-right {
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.user-name {
	font-size: 1.2rem;
	font-weight: bold;
	color: var(--primary-font-color);
}

/* *************** */

.bottom-header {
	grid-area: bottom-header;
	margin: 1rem 2rem;
}

.bottom-header ul {
	grid-template-columns: 3fr 1fr;
	display: grid;
}

.user-info {
	display: flex;
	align-items: center;
}

.display-greeting {
	margin-left: 1rem;
}

.display-greeting > p {
	font-size: 0.8rem;
	color: var(--secondary-font-color);
	letter-spacing: 1px;
	line-height: 1.2;
}

.buttons {
	justify-self: end;
	display: flex;
	align-items: center;
}

.button {
	border: none;
	padding: 0.5rem 2rem;
	margin: 0 1rem;
	border-radius: 20px;
	background-color: var(--cta-color);
	color: var(--bg-color-primary);
}

/* Header Pseudo Classes */

.button:hover {
	background-color: var(--cta-color-hover);
	cursor: pointer;
}

.button:active {
	background-color: var(--cta-color-active);
}

/* Main */

.main {
	grid-area: main;
	display: grid;
	gap: 2rem;
	margin: 2rem 1rem;
	grid-template-columns: 3fr 1fr;
	grid-template-areas:
		"projects announcements"
		"projects trending";
}

.projects {
	grid-area: projects;
	display: grid;
	gap: 2rem;
	grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
	grid-template-rows: 200px;
	grid-auto-rows: 200px;
}

/* Cards */

.card {
	background-color: var(--bg-color-primary);
	display: flex;
	height: 200px;
	flex-direction: column;
	justify-content: space-between;
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	position: relative;
}

.card-content {
	margin: 2rem 3rem 0 1.5rem;
}

.card-content p {
	margin-top: 5px;
}

.card-btns {
	align-self: flex-end;
	display: flex;
	margin-bottom: 0.5rem;
}

.card-btns li {
	margin: 0 0.7rem;
}

/* Cards Pseudo Classes */

.card-btns li svg:hover,
.top-header-right li svg:hover {
	color: var(--secondary-font-color);
	cursor: pointer;
}

.card-btns:last-child {
	margin-right: 0.5rem;
}

/* Cards Pseudo Elements */

.card::before {
	content: "";
	position: absolute;
	top: 0;
	left: -5px;
	height: 100%;
	border-left: 5px solid var(--bar-card-color);
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
}

/* Announcements */

.announcements {
	grid-area: announcements;
	background-color: var(--bg-color-primary);
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 0.8rem;
	padding: 2rem;
	border-radius: 20px;
}

.announcements li {
	padding: 1rem 0;
}

.announcements p {
	margin-top: 5px;
	color: var(--secondary-font-color);
}

.announcements li:nth-child(2) {
	border-top: 1px solid hsl(0, 0%, 55%);
	border-bottom: 1px solid hsl(0, 0%, 55%);
}

/* Trending */

.trending {
	grid-area: trending;
	background-color: var(--bg-color-primary);
	border-radius: 20px;
	padding: 2rem;
}

.trending ul {
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.trending li {
	display: flex;
	align-items: center;
}

.prof-bio {
	margin-left: 1rem;
}

.prof-bio p {
	font-size: 0.8rem;
	color: var(--secondary-font-color);
	margin-top: 5px;
}

.profile-link {
	text-decoration: none;
	color: inherit;
}
